.containerMovie {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.contentMovie {
    text-align: center;
    padding: 0.5em;
}

.poster-movie {
    max-width: 50px;
}

.titleMovie {
    font-size: 12px;
}